Source: analyze_suspend
Section: admin
Priority: extra
Maintainer: Todd Brandt <todd.e.brandt@linux.intel.com>
Build-Depends: cdbs (>= 0.4.49),
               debhelper (>= 7),
               python-all (>= 2.3.5-11),
               python-support (>= 0.5.3)
Standards-Version: 3.9.1
Homepage: https://github.com/01org/suspendresume

Package: analyze_suspend
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: suspend/resume timing analysis
 This tool is designed to assist kernel and OS developers in optimizing
 their linux stack's suspend/resume time. Using a kernel image built
 with a few extra options enabled, the tool will execute a suspend and
 capture dmesg and ftrace data until resume is complete. This data is
 transformed into a device timeline and an optional callgraph to give
 a detailed view of which devices/subsystems are taking the most
 time in suspend/resume.
