Source: pm-graph
Section: admin
Priority: extra
Maintainer: Todd Brandt <todd.e.brandt@linux.intel.com>
Build-Depends: cdbs (>= 0.4.49),
               debhelper (>= 7),
               python-all (>= 2.3.5-11),
               python-support (>= 0.5.3)
Standards-Version: 3.9.1
Homepage: https://github.com/01org/suspendresume

Package: pm-graph
Architecture: any
Depends: ${python:Depends}
Description: Power Management performance analysis
 This package is designed to assist kernel and OS developers in optimizing
 their linux stack's boot and suspend/resume time. It includes two tools:
 bootgraph and sleepgraph, which use dmesg and ftrace data to create
 timelines of kernel boot and suspend/resume respectively. The timelines
 provide a detailed view of which devices/subsystems are taking the most
 time in boot and suspend/resume.
