#
# Sleepgraph stress testing
#
# This is the configuration file for stresssetup.py. It contains
# all the tool arguments so that they don't have to be given on the
# command line.
#
#    stresssetup.py -config config/stresstest-intel.cfg
#

[setup]

# Kernel package format
# Set kernel package format [deb/rpm] (default: deb)
pkgfmt: deb

# Kernel package output folder
# Place build output files here (default: ksrc/..)
pkgout: ~/workspace/packages

# Kernel source
# Kernel source folder location (default: required to build)
#ksrc: ~/workspace/linux

# Kernel name
# Set kernel name to <version>-<name> (default: blank)
kname:

# Kernel config folder
# Folder with config file and patches to apply to ksrc (default: no change)
kcfg: ~/workspace/stressconfig

# Kernel git tag
# If ksrc is a git repo, set to this tag (default: no change)
# Used "latestrc" to select the newest release candidate
ktag: latestrc

# remove kernels
# These are the kernels we want removed prior to install
rmkernel: [1-9]\.[0-9]*\.[0-9]*-rc[0-9]*\-dirty

# Machines file
# Text file with list of machine/ip values for testing
# Lines will be prepended with status as setup/test occurs
machines: ~/workspace/stressconfig/machine.txt

# Test output folder
# Place test output files and logs here (required for run/status)
testout: /media/zeus/pm-graph-test
