#
# Wifi Monitor Tools
#
# This is the configuration file for wifimon.py. It contains
# all the tool arguments so that they don't have to be given on the
# command line.
#
#    wifimon.py -config config/wifimon.cfg
#

[setup]

# Wifi device name
# dev:

# Kernel module for the wifi device
# driver:

# network name as defined by NetworkManager
# network:

# USB Ethernet device name
# usbdev:

# USB Ethernet pci bus address
# usbpci:
